.loading {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 5px solid #000;
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 0.5s ease infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.message-box {
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #000;
}

.delete {
    cursor: pointer;
    margin-left: 5px;
}

.header.dark, .btn-theme.dark {
    background-color: #000;
    color: #fff;
}